
{% extends "layout.html" %}
{% block pageTitle %}
Callisto
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-xl">
      Callisto Design Prototype
    </h1>
    <h3 class="govuk-heading-m">All previous versions</h3>
    <h3 class="govuk-heading-s">Sign in</h3>
    <ul class="govuk-list app-task-list__items">
      <li class="app-task-list__item"><a class="govuk-link" href="sign-in">Desktop</a></li>
      <li class="app-task-list__item"><a class="govuk-link" href="sign-in">Mobile</a></li>
     </ul>
    <h3 class="govuk-heading-s">Calender view</h3>
    <ul class="govuk-list app-task-list__items">
      <li class="app-task-list__item"><a class="govuk-link" href="schedule">Desktop</a></li>
      <li class="app-task-list__item"><a class="govuk-link" href="mobile/schedule">Mobile</a></li>
      
      
     </ul>
     <h3 class="govuk-heading-s">Time entry</h3>
     <ul class="govuk-list app-task-list__items">
       <li class="app-task-list__item"><a class="govuk-link" href="time-tracker">Desktop</a></li>
       <li class="app-task-list__item"><a class="govuk-link" href="mobile/time-tracker">Mobile</a></li>
       
       
      </ul>
    <h3 class="govuk-heading-s">Accruels</h3>
    <ul class="govuk-list app-task-list__items">
      <li class="app-task-list__item"><a class="govuk-link" href="accruels">Desktop</a></li>
      <li class="app-task-list__item"><a class="govuk-link" href="mobile/accruels">Mobile</a></li>
      
      
     </ul>
    
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s">Important note</h2>
    <p>
      This is prototype built using the <a
        href="https://design.homeoffice.gov.uk/">Home Office prototyping
        kit.</a>
      All code is not production ready and is
      deliberately maintained and created at a quality sufficient to make a mock
      representation of the final software design. There is
      <b>no real data</b> or any integrations with real data. There are no APIs
      or sensitive
      information used. Everything is a "smoke and mirrors" illusion to create a
      seemingly real piece of software so that researchers can conduct usability testing.
    </p>
    

  </div>
</div>
{% endblock %}
